
.popular-people {
  justify-content: space-evenly;
  padding-top: 30px;
  border: 3px lightgrey solid;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
  border-radius: 1rem;
  flex-wrap: wrap;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 350px;
    display: block;
    margin: auto;
    padding: 20px;
  }

  p {
    font-size: 20px;
    margin: auto;
    width: 20%;

  }
}

