.movies-title {
  //justify-content: space-evenly;
  font-size: 16px;
  padding: 30px;
  border: 3px #018786 solid;
  margin-bottom: 20px;
  margin-left: 70px;
  //margin-right: 40px;
  background-color: white;
  height: 400px;
  width: 255px;
  float: left;

  &:hover {
    cursor: pointer;
  }

  .movies-release_date {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
  }

  .movie-posters {
    height: 300px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
  }
}

.name {
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
  font-weight: bold;

}


