<div class="people-title">
    <img alt="" class="people-poster" src="{{'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+people.profile_path}}"/>
    <div class="info">
        <p><b>ABOUT</b></p>
        <p><b>Born:</b> {{people.birthday | date}}</p>
        <p><b>Born in:</b> {{people.place_of_birth}}</p>
        <p><b>Known for:</b> {{people.known_for_department}}</p>
    </div>
    <div class="about">
        <p><b> {{people.name}} </b></p>
        <p> {{people.biography}}</p>
    </div>
</div>
