
.people-content {
  font-size: 20px;


  .people-poster {
    width: 300px;
    padding: 35px;
  }

  .about {
    //padding: 25px;
  }

  .info {
    //padding: 25px;
  }

  p {
    padding-left: 35px;
  }

}


@media (min-width: 1459px) {

  .people-content {
    font-size: 16px;
    margin: 50px 40px 50px 15%;
    background-color: white;
    display: inline-block;
    position: relative;


    .people-poster {
      width: 450px;
      float: left;
      height: 550px;
    }

    .about {
      overflow: hidden;
      width: 750px;
      height: 550px;
      background-color: black;

      p {
        padding-left: 40%;
      }
    }

    p {
      width: auto;
      margin-left: 25px;
      margin-right: 25px;
      color: white;
    }

    .info {
      display: block;
      float: left;
      margin-left: 30%;
      width: 315px;
      height: 450px;
      background-color: #6200EE;
      position: absolute;

      p {
        padding-top: 25px;
        color: #03DAC6;
      }

    }

    img {
      filter: grayscale(100%);
    }

  }

}

