h1 {
  //display: flex;
  //flex-wrap: wrap;
  //align-content: center;
  //position: relative;
  //font-weight: normal;
  //margin: auto;
  //width: 20%;
  padding: 20px;
  text-align: center;
}

.movies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

