<div class="search-wrapper">
    <label class="search">
        <input (clickOutside)="onClickedOutside($event)" (keyup)="search($event)" class="search-bar"
               [(ngModel)]="searchString" type="search"
               placeholder="Find movies, tv shows and more...">
    </label>
    <div class="result-wrapper">
        <ul *ngIf="searchResult.length" class="search-results" #searchResults>
            <li *ngFor="let result of searchResult">
                <div class="item" *ngIf="result.media_type === 'movie'" (click)="selectResult('movies', result.id)">
                    <a>
                        <span class="category">
                            Movie:
                        </span>
                        <span class="title">
                            {{result.original_title}}
                        </span>
                    </a>
                </div>
                <div class="item" *ngIf="result.media_type === 'person'" (click)="selectResult('people', result.id)">
                    <a>
                        <span class="category">
                            Person:
                        </span>
                        <span class="title">
                            {{result.name}}
                        </span>
                    </a>
                </div>
                <div class="item" *ngIf="result.media_type === 'tv'" (click)="selectResult('tv-shows', result.id)">
                    <a>
                        <span class="category">
                            Tv-show:
                        </span>
                        <span class="title">
                            {{result.original_name}}
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
