.search-wrapper {
  position: relative;
  margin: auto;
  width: 40%;


  .search {
    display: flex;
    justify-content: stretch;
    width: 100%;

    input {
      justify-content: center;
      padding: 10px;
      flex: 5 1 90%;
    }

    button {
      flex: 1 0 10%;

    }


  }

  .search-results {
    border: 1px dotted blue;
    color: red;
    display: block;
    list-style: none;
    max-height: 200px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
  }

}
