.search-wrapper {
  position: relative;
  margin: auto;
  cursor: pointer;

  @media (min-width: 768px) {
    max-width: 70%;
  }

  .hidden {
    display: none;
  }


  .search {
    display: flex;
    justify-content: stretch;
    width: 100%;

    input {
      justify-content: center;
      padding: 10px;
      flex: 5 1 90%;
    }

    button {
      flex: 1 0 10%;

    }

  }

  ul.search-results {
    background-color: #fff;
    border: 1px solid cadetblue;
    //color: red;
    display: block;
    list-style: none;
    margin: 0;
    max-height: 200px;
    //overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    position: absolute;
    top: 38px;
    width: 388px;
    z-index: 1;

    @media (min-width: 320px) {
      width: 100%;

    }

    li {
      a:link,
      a:visited {
        text-decoration: none;
        color: #333333;
      }

      a:hover,
      a:active {
        color: cadetblue;
      }
    }
  }

}

.category {
  color: #03DAC6;
  //#3700B3
}



