<header>
    <div style="text-align:center">
        <img [routerLink]="['']" class="logo-img" alt="" src="../../../../../assets/images/logo_200x60.png">
    </div>
</header>
<nav class="main-nav">
    <a [routerLink]="['movies/top-rated']"><i class="fas fa-video"></i> <span class="menu-text">Popular movies </span></a>
    <a [routerLink]="['tv-shows/top-rated']"><i class="fas fa-tv"></i> <span class="menu-text">Popular TV shows </span></a>
    <a [routerLink]="['people/popular']"><i class="fas fa-users"></i> <span class="menu-text">Popular people </span></a>
</nav>
<app-search></app-search>
