.logo-img {
  width: 200px;
}

.main-nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  border: 1px dotted lightgrey;
  background-color: whitesmoke;


  @media (width: 320px) {
    width: 100%;
  }
}


a {
  text-decoration: none;
  color: #333333;

  a:hover {
    text-decoration: none;
  }

}

//a:active {
//  background-color: red;
//}

