// 320px

.logo-img {
  width: 230px;
}

.main-nav {
  background-color: #3700B3;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  padding: 10px;

  //font-size: 1.6rem;
  //margin-top: 20px;
  //border: 1px dotted lightgrey;

  i {
    margin-right: 10px;
  }

  .menu-text {
    display: none;

    @media(min-width: 460px) {
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
    color: white;
    padding: 5px;

    a:hover {
      text-decoration: none;
    }
  }

  .fas {
    color: #03DAC6;
  }

}




