.logo-img {
  width: 200px;
}

.main-nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px dotted lightgrey;
  background-color: #3700B3;

  a {
    text-decoration: none;
    color: white;

    a:hover {
      text-decoration: none;
    }

  }

  .fas {
    color: #03DAC6;
  }


  @media (width: 320px) {
    width: 100%;
  }
}




