/* You can add global styles to this file, and also import other style files */

body {
  background-color: #FFFFFF;
  margin: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333333;
}


.content {

  @media(min-width: 320px) {
    padding: 15px;
  }

  @media(max-width: 650px) {
    width: 600px;
  }
}
