.tv-title {
  justify-content: space-evenly;
  font-size: 16px;
  padding-top: 30px;
  border: 3px lightgrey solid;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }

  .tv-release_date {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 10px;
  }

  .tv-posters {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
  }
}

.name {
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
  font-weight: bold;
}


