@import "variables";

:host {
  display: block;

  .tv-content {
    font-size: 16px;
    background-color: white;

    @media (min-width: $tablet-width) {
      padding: 30px;
      border: 3px #018786 solid;
      margin: 0 40px 20px 40px;
      height: 470px;
      width: 255px;
    }


    &:hover {
      cursor: pointer;
    }

    .about {

      @media (max-width: $phone-width) {
        background-color: #3700B3;
        opacity: 0.6;
        color: white;
        padding: 10px;
      }

      .name {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        min-height: 25px;

        @media (min-width: $tablet-width) {
          padding-top: 0;
          min-height: 85px;
          font-size: 20px;
        }
      }

      .tv-release_date {
        text-align: center;
        font-size: 20px;
        margin: 0;

        @media (min-width: $tablet-width) {
          display: flex;
          justify-content: space-evenly;
          font-size: 16px;
          //padding: 10px;
          font-weight: bold;
        }
      }

    }

    .tv-posters {
      width: 100%;
      padding-bottom: 50px;
    }


    p {
      @media (min-width: $tablet-width) {
        margin: auto;
        //width: 50%;
        padding-bottom: 10px;
      }
    }
  }

}


