@import 'variables';

$footer-height: 60px;
$footer-margin: 20px;

:host {
  display: block;

  @media(min-width: $tablet-width) {
    height: $footer-height + $footer-margin;

    .footer {
      position: fixed;
      bottom: 0;
      height: $footer-height;
      width: 100%;
    }
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px dotted lightgrey;
    background-color: #3700B3;
    //margin-top: 20px;
    //position: fixed;
    //bottom: 0;
    //width: 100%;

    .made-by {
      color: white;
    }

    .mail {
      text-decoration: none;
      color: white;
    }

    .number {
      color: white;
    }

    .fas {
      color: #03DAC6;
    }
  }
}
